/* Common styles */
.blogForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 3rem auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blogFormTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blogFormInput label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.blogFormInput input,
.blogFormInput textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blogFormInput textarea {
  height: 150px;
  resize: vertical;
}

.blogFormSubmit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.blogFormSubmit:hover {
  background-color: #0069d9;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .blogForm {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .blogForm {
    width: 95%;
    margin: 2rem auto;
    padding: 15px;
  }

  .blogFormTitle {
    font-size: 20px;
  }

  .blogFormInput input,
  .blogFormInput textarea {
    font-size: 14px;
  }

  .blogFormInput textarea {
    height: 120px;
  }
}
