footer {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 4rem;
  gap: 1rem;
}
.mainFooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 20px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 340px;
}
.about h3 {
  color: var(--first-color);
  font-size: 2rem;
  font-weight: 600;
}
.about p {
  color: var(--secondry-font-color);
  font-size: 1.1rem;
}
.icons {
  padding: 0.5rem;
  color: var(--first-color);
  font-size: 3rem;
  border: 2px solid aquamarine;
  border-radius: 50%;
  margin: 0.5rem;
  font-weight: bold;
}
.altIcon {
  padding: 0.5rem;
  padding-left: 0;
  color: var(--first-color);
  font-size: 3rem;
  margin: 0.5rem;
  font-weight: bold;
}
.contactInfo {
  font-size: 1.1rem;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contactInfo p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondry-font-color);
}
.impLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.impLinks p {
  font-size: 1.1rem;
  color: var(--secondry-font-color);
}
@media screen and (max-width: 900px) {
  .mainFooter {
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-evenly;
  }
}
